html(lang="en")
  head
    title Welcome to Notus - Your API Key
  body
    h2 Thanks for trying out Notus!

    p Before you can use the service you will need to confirm your email address:

    p #{notusNetworkUri}/dapps/confirm/#{email}/#{confirmationCode}

    br
    br

    p Your API key for '#{dappName}' is <strong>#{apiKey}</strong>

    p Once you have confirmed your email you can get started on using the API.

    p Get started by reading the documentation on how to use the API here: https://docs.notus.network/

    br
    br

    h4 Our Mission

    p We're working hard on bringing the best possible methods for notifying everyone who loves Ethereum via email, text message or anything else you can think up.
